
[*.{axaml,cshtml,htm,html,paml,razor,xaml,xamlx,xoml}]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{appxmanifest,asax,ascx,aspx,axml,build,c,c++,c++m,cc,ccm,cginc,compute,config,cp,cpp,cppm,cs,csproj,cu,cuh,cxx,cxxm,dbml,discomap,dtd,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,jsproj,lsproj,master,mpp,mq4,mq5,mqh,mxx,njsproj,nuspec,proj,props,resw,resx,skin,StyleCop,targets,tasks,tpp,usf,ush,vb,vbproj,xml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4

[*]

# Standard properties
end_of_line = lf

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_autodetect_indent_settings = true
resharper_enforce_line_ending_style = true

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_cpp_bad_angle_brackets_spaces_highlighting = hint
resharper_cpp_bad_braces_spaces_highlighting = hint
resharper_cpp_bad_child_statement_indent_highlighting = hint
resharper_cpp_bad_colon_spaces_highlighting = hint
resharper_cpp_bad_comma_spaces_highlighting = hint
resharper_cpp_bad_control_braces_indent_highlighting = hint
resharper_cpp_bad_control_braces_line_breaks_highlighting = hint
resharper_cpp_bad_declaration_braces_indent_highlighting = hint
resharper_cpp_bad_declaration_braces_line_breaks_highlighting = hint
resharper_cpp_bad_empty_braces_line_breaks_highlighting = hint
resharper_cpp_bad_expression_braces_indent_highlighting = hint
resharper_cpp_bad_expression_braces_line_breaks_highlighting = hint
resharper_cpp_bad_indent_highlighting = hint
resharper_cpp_bad_list_line_breaks_highlighting = hint
resharper_cpp_bad_member_access_spaces_highlighting = hint
resharper_cpp_bad_namespace_braces_indent_highlighting = hint
resharper_cpp_bad_parens_line_breaks_highlighting = hint
resharper_cpp_bad_parens_spaces_highlighting = hint
resharper_cpp_bad_semicolon_spaces_highlighting = hint
resharper_cpp_bad_spaces_after_keyword_highlighting = hint
resharper_cpp_bad_square_brackets_spaces_highlighting = hint
resharper_cpp_bad_switch_braces_indent_highlighting = hint
resharper_cpp_bad_symbol_spaces_highlighting = hint
resharper_cpp_incorrect_blank_lines_near_braces_highlighting = hint
resharper_cpp_missing_blank_lines_highlighting = hint
resharper_cpp_missing_indent_highlighting = hint
resharper_cpp_missing_linebreak_highlighting = hint
resharper_cpp_missing_space_highlighting = hint
resharper_cpp_multiple_spaces_highlighting = hint
resharper_cpp_outdent_is_off_prev_level_highlighting = hint
resharper_cpp_redundant_blank_lines_highlighting = hint
resharper_cpp_redundant_linebreak_highlighting = hint
resharper_cpp_redundant_space_highlighting = hint
resharper_cpp_tabs_and_spaces_mismatch_highlighting = hint
resharper_cpp_tabs_are_disallowed_highlighting = hint
resharper_cpp_tabs_outside_indent_highlighting = hint
resharper_cpp_unnecessary_whitespace_highlighting = hint
resharper_cpp_wrong_indent_size_highlighting = hint
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
