[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/ZCG-coder/Steppable.wiki.git
[submodule "deps/tree-sitter"]
	path = deps/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "deps/replxx"]
	path = deps/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
